* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


/* footer {
    text-align: center;
    color: #35424a;
    position: relative;
    bottom: 0;
    width: 100%;
} */

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.formations-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 300px;
    background: white;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card h3 {
    font-size: 50px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: black;
    margin-bottom: 15px;
}

.card button {
    background-color: #007b3e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header h1 {
  width: 100%;
  padding: 10px 0;
  position: relative;
  overflow: visible;   /* Montre tout le texte */
  line-height: 1.4;    /* Améliore la lisibilité */
  white-space: nowrap;
}

h1 {
    display: inline-block;
    animation: h1 10s linear infinite;
    font-size: 10px;
}

@keyframes h1 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


.container {
    flex: 1;
}

footer {
    background-color: #3f51b5; 
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}